<!-- views/projects/project.ejs -->
<div class="main-container container-fluid">
  <div class="header">
  <!-- <nav class="navbar navbar-default"> -->
    <a class="header-logo" href="/" title="Back go your boards page">
      <span class="header-logo-default fa fa-coffee"></span>Blue
    </a>
    <div class="header-left">
      <div class="header-projects header-button">
        <a href="/projects">
          <span class="header-projects-icon fa fa-asterisk"></span>
          <span class="header-projects-text">Projects</span>
        </a>
      </div>
      <div class="header-search">
        <input class="header-search-input js-search-input js-disable-on-dialog" type="text" autocomplete="off" autocorrect="off" spellcheck="false" value="">
        <span class="header-search-icon fa fa-search"></span>
        </span>
      </div>
    </div>
    <div class="header-user">
      <a href="/profile">
        <span class="header-user-button header-button">
          <span class="fa fa-user"></span>
          <span><%= user.local.name %></span>
        </span>
      </a>
      <a href="/logout"><span class="header-button">Logout</a>
    </div>
  </div>
  <!-- </nav> -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap-editable.css">
  <link rel="stylesheet" href="/css/theme-new.css">
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
