<!-- views/projects/project.ejs -->
<!doctype html>
<html>
<head>
  <title>Blue Projects</title>
</head>
<body>
<div class="container-fluid">
  <div class="search-box">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
        <input type="text" class="form-control" placeholder="Search for...">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
  <div class="nav-buttons">
    <a href="/" class="btn btn-default btn-sm"> Home</a>
    <a href="/projects/action/createProject" class="btn btn-default btn-sm"> Create</a>
    <a href="/profile" class="btn btn-default btn-sm"> Profile</a>
    <a href="/logout" class="btn btn-default btn-sm"> Logout</a>
  </div>
  <link rel="stylesheet" href="/css/theme-new.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
