.card-link a:hover {
  display: block;
}
body a:hover {
  text-decoration: none !important;
}
.portlet-header a:hover {
}
.main-container {
  min-height: 640;
}
.search-box {
  width: 600px;
  display: inline-block;
  position: absolute;
  float: left;
  top: 13px;
}
input[type="text"].header-search-input {
  background-color: rgba(255,255,255,.3);
  border-radius: 3px;
  border: none;
  color: rgba(255,255,255,.5);
  float: left;
  font-size: 13px;
  height: 30px;
  margin: 0;
  min-height: 30px;
  padding-right: 30px;
  padding-left: 8px;
  line-height: 19px;
  -webkit-transition: width .15s;
  transition: width .15s;
  width: 180px;
  z-index: 1;
}
.nav-tabs {
  margin-top: 8px;
  font-family: "Arial Black", Gadget, sans-serif;
}
.header-left {
  position: absolute;
  top: 5px;
  left: 0;
}
.projects-upper {
  position: relative;
  text-align: center;
  top: 8px;
}
.header-projects-icon {
  color: white;
}
.header-projects-text {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
}
.header-projects {
  font-family: "Arial Black", Gadget, sans-serif;
  float: left;
  margin-left: 6px;
}
.header-user-button {
}
.header-button {
border-radius: 3px;
background: rgba(255,255,255,.3);
background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
color: #f3f3f3;
display: block;
float: left;
font-weight: 700;
height: 30px;
line-height: 30px;
padding: 0 8px;
position: relative;
margin-right: 8px;
min-width: 30px;
text-decoration: none;
}
.header-search {
  display: block;
  text-align: left;
  float: right;
  margin: 0 8px 0 0;
  position: relative;
  z-index: 1;
}
.header-search-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  right: -6px;
  color: white;
  top: 7px;
  -webkit-transition: background 85ms,color 85ms;
  transition: background 85ms,color 85ms;
  z-index: 2;
}
.icon-lg {
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  width: 30px;
  color: #a6a6a6;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
.header-user {
  display: inline-block;
  position: absolute;
  right: 5px;
  float: right;
  top: 5px;
}
.header2 {
  height: 30px;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.header {
  background: #0e74af;
  height: 40px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  z-index: 10;
  display: block;
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.header-logo {
  width: 130px;
  bottom: 0;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  top: -5px;
  text-align: center;
  z-index: 2;
  color: white;
  font-size: 250%;
  font-family: "Arial Black", Gadget, sans-serif;
  opacity: .5;
  -webkit-transition: opacity ease-in 85ms;
  transition: opacity ease-in 85ms;
}
.header-logo-default {
  background-image: "/images/blue_logo.png";
}
.board-column {
  display: inline-block;
  width: 300px;
  margin: 4px;
  vertical-align: top;
  background: #ccc;
  border-radius: 5px;
  padding: 10px;
}
.card-container {
  padding-left: 0;
  min-height: 1em;
  margin: 0 4px 0 0;
}
.board-column-name {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.card {
  width: 100%;
  margin: 0 1em 1em 0;
  padding: 0.3em;
  background: #fff;
  border-radius: 3px;
  list-style-type: none;
}
.projects-container {
  margin: 15px;
}
.editable-blue {
  border-bottom: none;
}
