<!-- views/projects/createCard.ejs -->
<!doctype html>
<html>
<head>
    <title>Create Card</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Create</h1>

    <form action="/projects/action/createCard" method="post">
      <input type="hidden" name="projectName" value="<%= projectName %>">
      <input type="hidden" name="boardName" value="<%= boardName %>">
      <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name">
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Save</button>
    </form>

    <hr>

    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
