<!-- views/projects/project.ejs -->
<!doctype html>
<script type="text/javascript" src="/js/sortable.js"></script>
<html>
<head>
  <title><%= project.name %></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="/css/sortable.css">
  <style>
    body        { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> <%= project.name %></h1>
    <a href="/logout" class="btn btn-default btn-sm"> Logout</a>
    <a href="/projects/action/createBoard?projectName=<%= project.name %>" class="btn btn-default btn-sm"> add</a>
  </div>

  <%- include ../boards/index.ejs %>

</div>
</body>
</html>
