<!-- views/projects/project.ejs -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= project.name %></title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <style>

    header, section {
      display: block;
    }
    body {
      font-family: 'Droid Serif';
    }
    h1, h2 {
      text-align: center;
      font-weight: normal;
    }
    ul {
      list-style-type: none;
      padding-left: 0em;
    }
    #features {
      margin: auto;
      width: 460px;
      font-size: 0.9em;
    }
    .connected, .sortable, .exclude, .handles {
      margin: auto;
      padding: 0;
      width: 100%;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .sortable.grid {
      overflow: hidden;
    }
    .connected li, .sortable li, .exclude li, .handles li {
      list-style: none;
      list-style-type: none;
      border: 1px solid #CCC;
      background: #F6F6F6;
      font-family: "Tahoma";
      color: #1C94C4;
      margin: 5px;
      padding: 5px;
      height: 100%;
    }
    .connected.ul {
      list-style-type: none;
    }
    .handles span {
      cursor: move;
    }
    li.disabled {
      opacity: 0.5;
    }
    .sortable.grid li {
      line-height: 80px;
      float: left;
      width: 80px;
      height: 80px;
      text-align: center;
    }
    li.highlight {
      background: #FEE25F;
    }
    #connected {
      overflow: hidden;
      margin: auto;
      float: left;
    }
    .connected {
      float: left;
      width: 100%;
    }
    .connected.no2 {
      float: right;
    }
    li.sortable-placeholder {
      border: 1px dashed #CCC;
      background: none;
    }

    #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 0em; font-size: 1.4em; height: 44px; }
    #sortable li span { position: absolute; margin-left: -1.3em; martin-right: 1em; }
  </style>

  <link rel="stylesheet" href="/css/sortable.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body        { padding-top:10px; }
  </style>
</head>
<body>
<!-- <div class="container"> -->
  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> <%= project.name %></h1>
    <a href="/logout" class="btn btn-default btn-sm"> Logout</a>
    <a href="/" class="btn btn-default btn-sm"> Home</a>
    <a href="/profile" class="btn btn-default btn-sm"> Profile</a>
    <a href="/projects/action/createBoard?projectName=<%= project.name %>" class="btn btn-default btn-sm"> add</a>
  </div>

  <%- include ./boards/index.ejs %>

<!-- </div> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/js/jquery.sortable.js"></script>
  <script>

    $(function() {
      $('#todo, #doing, #done').sortable({
        connectWith: '.connected'
      });
    });
    $('.sortable').sortable().bind('sortupdate', function() {
      /*

      This event is triggered when the user stopped sorting and the DOM position has changed.

      ui.item contains the current dragged element.
      ui.item.index() contains the new index of the dragged element
      ui.oldindex contains the old index of the dragged element
      ui.startparent contains the element that the dragged item comes from
      ui.endparent contains the element that the dragged item was added to

      */

    });
  </script>
</body>
</html>
