<div class="board">
  <% if ( typeof(boards) != 'undefined' ) { %>
    <% boards.forEach( function ( board ) { %>
      <%- include board.ejs %>
    <% }); %>
  <% } else { %>
    <div class="h1">No boards. Create one to get started!</div>
  <% }; %>
</div>
