<div class="board">
  <% if ( typeof(boards) != 'undefined' ) { %>
    <ul class="nav nav-tabs">
      <% boards.forEach( function ( board ) { %>
      <li role="presentation"><a href="#"><%= board.name %></a></li>
        <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
      <% }); %>
      <li role="presentation"><a href="#"> + </a></li>
    </ul>
    <% boards.forEach( function ( board ) { %>
      <%- include board.ejs %>
    <% }); %>
  <% } else { %>
    <div class="h1">No boards. Create one to get started!</div>
  <% }; %>
</div>
